.DS_Store
/CalculatorWSApplication/nbproject/private/
/CalculatorWSApplication/build/
/CalculatorWS_Client_Application/nbproject/private/
/CalculatorWS_Client_Application/build/
/CalculatorWSServletClient/nbproject/private/
/CalculatorWSServletClient/build/
/CalculatorWSServletClient/dist/
/CalculatorWSJSPClient/nbproject/private/
/CalculatorWSJSPClient/build/